
*.js linguist-language=JavaScript
*.vue linguist-language=Nuxt3
*.json linguist-language=JSON
*.md linguist-language=Markdown

package.json linguist-generated=true
yarn.lock linguist-generated=true
node_modules/* linguist-vendored=true
